@{
    ViewData["Title"] = "Home Page";
}

<fieldset class="text-center" style="border:0.5px solid;background-color:oldlace">
    <h1 class="display-4">Welcome</h1>
    <h3>Employee Timesheet Management System</h3><br><br>
    <p><a href="Home/Insert">New Timesheet</a></p><br>
    <p><a href="Home/Display">Display Timesheet</a></p><br>
    <p><a href="Home/Update">Update Timesheet</a></p><br>

</fieldset>
