@{
    ViewData["Title"] = "Insert";
}

<div class="text-center">

<fieldset class="text-center" style="border:0.5px solid;background-color:powderblue";><br><br>

<form method="post">
<h2><b>Enter New Timesheet</b></h2><br><hr><br>

Date (dd/mm/yyy) : <input type="text" name="Date" placeholder="dd/mm/yyyy"></input><br><br>

Work Deseption : <input type="text" name="Work" placeholder="Work Desiption"></input><br><br>

Work Duration : <input type="number" name="Duration" placeholder="Duration in Hours"></input><br><br>

Work Status : <input type="text" name="Status" placeholder="Completed/Not Completed/In Progress"></input><br><br><hr><br>

<button type="submit">Insert New Timesheet</button><br><br><br>

</form>

</fieldset>

</div>